
.header-project{
	position: absolute;
	padding: 20px;
	display: block;
	overflow: hidden;
}
.header-project h1{
	display: inline-block;
	font-family: "Anybody", sans-serif;
	font-variation-settings: 'wght' 750, 'wdth' 140; 
	letter-spacing: 1px;
}
  /* project page */
.container {
	width: 100%;
}
.no-scroll .container{
	max-height: 100vh;
	overflow: hidden;
}
.top-row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 50vh;
	width: 100%;
}
.details{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top {
	padding: 0 20px 40px 20px;
}
.details span{
	font-family: "Anybody", sans-serif;
	font-variation-settings: 'wght' 450, 'wdth' 100; 
	background-color: var(--light-color);
	color: var(--dark-color);
	padding: 4px 10px 2px 10px;
}
.date-projet{
	font-family: "Anybody", sans-serif;
	font-variation-settings: 'wght' 550, 'wdth' 110; 
}
.location{
	margin-right: 15px;
}
.model{
	padding-top: 15px;
	overflow: hidden;
}
.model span{
	display: inline-block;
	position: relative;
	font-family: "Anybody", sans-serif;
	font-variation-settings: 'wght' 350, 'wdth' 110; 
	font-size: 2.5em;
}
.title-word{
	display: inline-block;
}
.title-word:not(:last-child){
	margin-right: 32px;
}

.bottom-row {
	min-height: 50vh;
	position: relative;
}
.bottom {
	height: 100%;
	width: 100%;
}
.thumbnail-single {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;	
}
.frame-single img {
	  position: absolute;
	  width: 100%;
}
.scroll-for-more {
	position: absolute;
	top: 50px;
	left: 100px;
	z-index: 20;
}
.icon svg{
	height: auto;
	width: 28px;
	
}
.icon path{
	stroke: #C4C4C4;
}
.text {
	margin-top: 3px;
	color: #C4C4C4;
	font-weight: 400;
	line-height: 1.1em;
}

/* section content */

.detailed-information{
	padding: 0 40px 0 40px;
	margin: 0 auto;
	max-width: 1100px;
}
.detailed-information .row{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}
.container-tagline{
	margin-right: 20px;
	min-width: 350px;
}
.container-tagline h2{
	font-size: 2rem;
	line-height: 1.3em;
}

.detailed-information .row a{
	font-family: "Anybody", "Monument", sans-serif;
	font-variation-settings: "wght" 550, "wdth" 120;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	margin-top: 30px;
}
  
.detailed-information .row a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: var(--light-color-8);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.detailed-information .row a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.detailed-information p {
	font-size: 1.3em;
	font-weight: 400;
}
.container-media-project{
	margin: 200px 0;
}
.container-img-project{
	padding: 20px 0;
}
.container-img-project,  .container-img-project img ,  .container-img-project video{
	width: 100%;
}



/* switch project */
.switch-project{
	display: flex;
	margin: 0 auto;
}
.switch-project a{
	width: 50%;
}
.switch-project a:hover img{
	opacity: 0.3;
}

.prev-project, .next-project{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.switch-project h3{
	position: absolute;
	font-family: "Anybody", "Poppins", "Monument", sans-serif;
	font-variation-settings: 'wght' 350, 'wdth' 110; 
	font-size: 1.8rem;
}
.switch-project a:hover h3{
	animation: switchProject 1s infinite alternate;
}
.prev-pro-img, .next-pro-img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.prev-pro-img img, .next-pro-img img{
	max-height: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 200ms;
}
@keyframes switchProject{
    0%{
        font-variation-settings: 'wght' 350, 'wdth' 110; 
    }
    100%{
        font-variation-settings: 'wght' 900, 'wdth' 140; 
    }
}

@media (max-width: 900px) { 
	div.model span{
		font-size: 2.2em;
	}
}
@media (max-width: 800px) { 
	.title-word:not(:last-child){
		margin-right: 20px;
	}
	div.model span{
		font-size: 2em;
	}
	div.scroll-for-more{
		left: 50px;
	}
	.scroll-for-more .text{
		display: none;
	}
	div.detailed-information .row{
		flex-direction: column-reverse;
	}
	.container-tagline > h2{
		display: none;
	}
	.container-tagline a{
		margin-top: 20px;
	}
}

@media (max-width: 600px) { 
	.title-word:not(:last-child){
		margin-right: 14px;
	}
	div.model span{
		font-size: 1.8em;
	}
	div.scroll-for-more{
		left: 20px;
	}
	div.icon svg{
		width: 20px;
	}
	div.top-row{
		justify-content: flex-start;
	}
	.switch-project h3{
		font-size: 1.4em;
	}
	.detailed-information{
		padding: 200px 10px 0 10px;
	}

}
@media (max-width: 500px) { 
	div.model span{
		font-size: 1.4em;
	}
}