 /***********/
  /* footer */
  /***********/
  footer{
    /* position: absolute; */
    /* width: 100%; */
    /* bottom: 0; */
    font-family: "Darker-Grotesque","Anybody", "Monument", sans-serif;
    font-size: 0.9em;
    font-variation-settings: 'wght' 350, 'wdth' 110;
    color: var(--light-color);
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--dark-color), transparent);
  }
  #homePage footer{
    margin-top: 350px;
  }
  footer p{
    padding: 5px 0;
    color: var(--light-color-6);
    font-weight: 400;
  }
  footer p strong{
    color: var(--light-color-8);
    font-weight: 600;
  }
  /* footer p:last-child{
    padding-top: 20px;
    user-select: all;
    -moz-user-select:all;
    -webkit-user-select: all;
    -ms-user-select: text;
  } */