  /***********/
  /* PROJETS */
  /***********/
  .container-projects{
    padding: 100px 0 300px;
    width: 100vw;
    overflow-x: hidden;
  }
  .title-projet{
    margin-bottom: 100px;
  }
  .project{
    margin-bottom: 250px;
    opacity: 1!important;
  }
  .project a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project:hover h3 span{
    /* opacity: 0.5; */
    /* font-size: calc(100px * var(--data-letter) ); */
    font-variation-settings: 'wght' 600;
    animation: anim-span 550ms  infinite alternate ease-in-out;
    animation-delay: calc(60ms * var(--data-letter));
    transition: all 100ms;
  }
  @keyframes anim-span {
    0%{
        font-variation-settings: 'wght' 600;
    }
    100%{
        font-variation-settings: 'wght' 300;
    }
  }
  .project-info{
    position: absolute;
    /* text-transform: uppercase; */
    z-index: 2;
    text-align: center;
    opacity: 1;
    transition: opacity 200ms;
  }
  .project-info h3{
    /* font-family: "Monument"; */
    /* font-family: "Cabinet"; */
    font-family: "Clash-grotesk";
    font-size: 3em;
    font-variation-settings: 'wght' 600;
    /* font-weight: 600; */
  
  }
  .project-info h3 span{
    font-family: "Clash-grotesk";
    font-variation-settings: 'wght' 600;
  }
  .project-info h5{
    position: relative;
    /* display: block; */
    /* height: 26px; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
    background-color: transparent;
    /* transition: background-color 10ms calc(20ms * var(--data-letter)); */
  }
  /* .project:hover h5{
    background-color: var(--light-color);
  } */
   .project:hover h5 span{
      animation: domaineTitle 100ms calc(15ms * var(--data-letter)) forwards!important;
  }
  /*
  .project:hover h5 span.space-letter{
    transform: translateY(-0px);
  } */
  .project-info h5 span{
    position: relative;
    display: inline-block;
    font-family: "roboto", sans-serif;
    text-rendering: optimizeSpeed;
    /* font-variation-settings: 'wght' 650; */
    letter-spacing: 1px;
    font-size: 1.2em;
    background-color: var(--light-color);
    color: var(--bg-color);
    padding: 3px 0px;
    top: -40px;
  }
  @keyframes domaineTitle{
    0%{
      top: -40px;
    }

    100%{
      top: 0px;
    }
  }
  .project-info h5 span:first-child{
    padding-left: 7px;
  }
  .project-info h5 span:last-child{
    padding-right: 7px;
  }
  /* .project .hideSpan{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  } */
  .project-img{
    display: flex;
    justify-content: center;
    transition-timing-function: cubic-bezier(0.000, 0.570, 0.630, 0.970);
    transition: transform 500ms ;
    will-change: transform;
  }
  .container-img{
    height: 300px;
    margin: 0 30px;
    overflow: hidden;
  }
  .container-img img, .container-img video{
    height: 100%;
    opacity: 0.5;
    transition: opacity 200ms;
  }
  .project:hover .container-img img{
    opacity: 0.7;
  }
  .dark_mode .container-img img{
    opacity: 0.3;
  }
  .dark_mode .project:hover .container-img img{
    opacity: 0.5;
  }
  
@media (max-width: 600px) { 
  div.container-img{
    height: 180px;
    margin: 0 10px;
  }
  .project-info h3{
    font-size: 2em;
  }
  .project-info h5{
    margin-top: 5px;
    height: inherit;
  }
  .project-info h5 span{
    letter-spacing: 0px;
    top: 0px;
    font-size: 1em;
    height: inherit;
  }
  .project-info h5 span.space-letter{
    width: 5px!important;
  }
}