  /***********/
  /* description */
  /***********/
  .container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 400px 0;
  }
  .container-reseaux{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-about h1, .title-projet h3 {
    font-family: "Anybody";
    font-size: 1em;
    font-variation-settings: 'wght' 600, 'wdth' 110;    
    text-transform: uppercase;
    opacity: 0.3;
    letter-spacing: 0.15em;
    text-align: center;
  }
  .reseaux{
    margin-top: 18px;
  }
  .reseaux svg{
    margin: 0 10px;
    opacity: 0.3;
    transition: opacity 200ms;
  }
  .reseaux svg:hover{
    opacity: 0.5;
  }
  .icon-path-reseau{
    fill: var(--light-color);
  }
  .about-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    opacity: 0.8;
    line-height: 3em;
  }
  .about-description > h2{
    font-size: 2.3em;

    margin: 0 20px;
    font-variation-settings: 'wght' 250, 'wdth' 100; 
  }
  .about-description > h2 strong{
    font-family: "Anybody", "Monument", sans-serif;
    font-variation-settings: 'wght' 550, 'wdth' 100; 

  }
  .about-description bold{
    font-variation-settings: 'wght' 450;
  }

  .about-support{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    background-color: var(--light-color-2);
    /* width: 100%; */
  }
  .about-support h2{
    color: var(--light-color);
    padding: 10px 40px 7px 40px;
    border-radius: 2px;
    cursor: default;
  }
  .about-support h2 span{
    font-size: 3rem; 
    font-variation-settings: 'wght' 250, 'wdth' 80; 
    font-feature-settings: "ss01"; 
    line-height: 2rem;
  }
  .about-support.anim-letter h2 span{
    animation: mobileAnimLetter 2s calc(var(--index-letter)*50ms) ease-in-out infinite alternate;
  }
  @keyframes mobileAnimLetter {
    from {
      font-variation-settings: "wght" 100, "wdth" 40, "slnt" 0;
    }
    to{
      font-variation-settings: "wght" 800, "wdth" 100, "slnt" -10;
    }
  }
  /* .about-support:hover .svg-help p, .about-support:hover .svg-help path{
    animation-play-state: paused;
  } */
  .svg-help{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    transform: translate(-180%, 60%);
    opacity: 0.4;
  }
  .svg-help > p{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(112%, -28%);
    animation: txt-help 4s ease-in-out infinite;
    color: var(--light-color);

  }
  .svg-help svg{
    width: 100%;
    transform: rotate(170deg);
  }
  .svg-help .line-help {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    stroke: var(--light-color);
    animation: dash 4s ease-in-out infinite;
  }
  .svg-help .arrow-help {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    stroke: var(--light-color);
    animation: arrow-help 4s ease-in-out infinite;
  }
  
  @keyframes dash {
    0%, 100%{
      opacity: 0;
      stroke-dashoffset: 400;
    }
    20%, 25% {
      stroke-dashoffset: 0;
      opacity: 1;
    }

    50%{
      stroke-dashoffset: -400;
      opacity: 0;
    }
  }
  @keyframes arrow-help {
    15%, 50%{
      opacity: 0;
      stroke-dashoffset: 400;
    }
    20%, 40% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
  @keyframes txt-help {
    0%, 15%, 50%, 100%{
      opacity: 0;
    }
    20%, 40% {
      opacity: 1;
    }
  }
  @media (max-width: 1000px) {
    .about-description > h2{
      font-size: 2em;
    }
  }

  @media (max-width: 800px) { 
    .svg-help{
      left: 50%;
      transform: translate(-50%, 130%);
    }
    .svg-help svg{
      transform: rotate(90deg);
    }
    .svg-help > p{
      transform: translate(-3px, -75%);
      left: 0;
      right: inherit;
    }
  }
  @media (max-width: 600px) { 
    .svg-help{
      display: none;
    }
    article.about-description > h2{
      font-size: 1.5em;
      line-height: 1.4em;
    }
    div.about-support{
      flex-direction: column;
      margin-top: 40px;
      padding: 5px 10px;
    }
    div.about-support h2{
      padding: 20px;
    }
    .about-support h2 span{
      font-size: 2.3rem; 
    }
  }
  @media (max-width: 400px) { 
    article.about-description > h2{
      font-size: 1.2em;
      line-height: 1.4em;
    }
    div.about-support{
      flex-direction: column;
      margin-top: 40px;
    }
    div.about-support h2{
      padding: 8px 27px;
    }
    .about-support.anim-letter h2 span{
      font-size: 1.6rem;
      white-space: nowrap;
    }
  }