/*************************/
/* stylesheet de timothé */
/*************************/
/*********/
/* FONTS */
/*********/
*{
  font-family: "Darker-Grotesque", "Poppins", serif;
}
/* poppins */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-BlackItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-BoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}   
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-MediumItalic.otf") format("otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}


@font-face {
font-family: "Anybody";
src: local("Anybody"), url("/fonts/Anybody[slnt,wdth,wght].ttf")
  format("truetype");
font-display: block;
font-style: normal italic;
font-weight: 100 900;
font-stretch: 10% 400%;
font-style: oblique -10 0; 
}
@font-face {
  font-family:'Compressa VF';
src: url('/fonts/CompressaPRO-GX.woff2') format("woff2");
font-style: normal;
}

@font-face {
  font-family:'Monument';
src: url('/fonts/MonumentExtended-Black.ttf') format("truetype");
font-weight: 800;
}
@font-face {
  font-family:'Monument';
src: url('/fonts/MonumentExtended-Regular.ttf') format("truetype");
font-weight: 400;
}
@font-face {
  font-family:'Monument';
src: url('/fonts/MonumentExtended-Light.ttf') format("truetype");
font-weight: 300;
}
@font-face {
  font-family:'Roboto';
src: url('/fonts/Roboto-Bold.ttf') format("truetype");
font-weight: 800;
}
@font-face {
  font-family:'Roboto';
src: url('/fonts/Roboto-Regular.ttf') format("truetype");
font-weight: 400;
}
@font-face {
  font-family:'Roboto';
src: url('/fonts/Roboto-Thin.ttf') format("truetype");
font-weight: 300;
}
@font-face {
  font-family:'Cabinet';
src: url('/fonts/cabinet[var].woff2') format("woff2");
}
@font-face {
  font-family:'Clash';
src: url('/fonts/clash.woff2') format("woff2");
}
@font-face {
  font-family:'Clash-grotesk';
src: url('/fonts/clash-grotesk.woff2') format("woff2");
}
@font-face {
  font-family: "Darker-Grotesque";
  font-weight: 800;
  src: url('/fonts/DarkerGrotesque-Black.ttf') format('truetype');
}
@font-face {
  font-family: "Darker-Grotesque";
  font-weight: 600;
  src: url('/fonts/DarkerGrotesque-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Darker-Grotesque";
  font-weight: 400;
  src: url('/fonts/DarkerGrotesque-Regular.ttf') format('truetype');
}

/*************/
/* VARIABLES */
/*************/
.container-pages.dark_mode{
  --dark-color: #222222;
  --light-color: #C4C4C4;
  --light-color-9: rgba(196, 196, 196, 0.9);
  --light-color-8: rgba(196, 196, 196, 0.8);
  --light-color-6: rgba(196, 196, 196, 0.6);
  --light-color-3: rgba(196, 196, 196, 0.4);
  --light-color-2: rgba(196, 196, 196, 0.06);
  --light-color-1: rgba(196, 196, 196, 0.02);

  --bg-color: #1B2229;

  --width-default: 1px;
  --border-: solid var(--dark-color) var(--width-default);

  --wght: 400;
  --wdth: 100;
  --slnt: 0;
  --data-letter: 1;
  --angleGradient: 135deg;
}

.container-pages.light_mode{
  --dark-color: #eef0f5;
  --light-color: #222222; 
  
  --light-color-9: rgba(34, 34, 34, 0.9);
  --light-color-8: rgba(34, 34, 34, 0.8);
  --light-color-6: rgba(34, 34, 34, 0.6);
  --light-color-3: rgba(34, 34, 34, 0.4);
  --light-color-2: rgba(34, 34, 34, 0.06);
  --light-color-1: rgba(34, 34, 34, 0.02);  

  --bg-color: #c4c4C4;
}
.container-pages{
  position: relative;
  background-color: var(--bg-color);
  color: var(--light-color);
  min-height: 100vh
}
@media (max-width: 800px) { 
  .container-pages{
    width: 100%;
    overflow-x: hidden;
  }
}
/***********/
/* COMMUNS */
/***********/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}
*::selection {
  background-color: var(--light-color);
  color: var(--dark-color);
}
body{
  overflow-x: hidden;
}
body.no-scroll {
  overflow-y: hidden;
}

h1, h2, h3{
  /* font-family: "Poppins", sans-serif; */
  color: var(--light-color);
}
h2, h2 span{
  font-family: "Anybody", "Monument", sans-serif;
  font-size: 2.2rem;
  font-variation-settings: 'wght' 350, 'wdth' 110;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

.grain-effect {
  position: fixed;
  z-index: 0;
  top: -40px;
  left: -40px;
  width: 130vw;
  height: 130vh;
  /* background: linear-gradient(var(--angleGradient), #000000, transparent), url(https://grainy-gradients.vercel.app/noise.svg); */
  /* filter: contrast(90%) brightness(500%); */
  /* mix-blend-mode: multiply; */
  background: linear-gradient(var(--angleGradient), #000000, transparent), url('./grain.svg');
  filter: contrast(90%) brightness(500%);

  pointer-events: none;
  mix-blend-mode: multiply;
  /* opacity: 0.3; */
  opacity: 0.7;
  animation: grain 1s steps(1) infinite;
}
.light_mode .grain-effect{
  mix-blend-mode: color-burn;
  filter: contrast(84%) brightness(250%);
  background: linear-gradient( var(--angleGradient), #000000d6, #fff0), url('./grain.svg');
  opacity: 0.3;
}
/* .grain-effect::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(var(--angleGradient), #000000, transparent), url('./grain.png');
  filter: contrast(300%) brightness(200%);
  mix-blend-mode: multiply;
  opacity: 0.8;
} */
@keyframes grain{ 
0%, 100%{ 
  transform: translate(0, 0);
}
10%{
  transform: translate(-5px, -10px);
}
20%{
  transform: translate(-15px, -5px);
}
30%{
  transform: translate(-7px, -15px);
}
40%{
  transform: translate(-5px, -25px);
}
50%{
  transform: translate(-15px, -10px);
}
60%{
  transform: translate(-15px, -0px);
}
70%{
  transform: translate(-0px, -15px);
}
80%{
  transform: translate(-3px, -5px);
}
90%{
  transform: translate(-10px, -10px);
}
}
@keyframes grain2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, -10px);
  }
  20% {
    transform: translate(-15px, 5px);
  }
  30% {
    transform: translate(7px, -25px);
  }
  40% {
    transform: translate(-5px, 25px);
  }
  50% {
    transform: translate(-15px, 10px);
  }
  60% {
    transform: translate(15px, 0px);
  }
  70% {
    transform: translate(0px, 15px);
  }
  80% {
    transform: translate(3px, 35px);
  }
  90% {
    transform: translate(-10px, 10px);
  }
}


